<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %> </h4>
            <!-- err.stack allows us to see the stack trace from the app.use error variable we setup -->
            <% if(process.env.NODE_ENV !== "production"){ %> 
            <p><%= err.stack %> </p>
            <% } %> 
          </div>
    </div>
</div>
